{% include "header.html" %}

<section id="index">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">



            <img src="../static/img/tari.jpg">


      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-lg-6">
            <img src="../static/img/tari2.jpg" alt="Image" height="500" width="800">
          </div>
          <div class="col-lg-6">
            <h2>Sewa Baju Tari Dan Penari</h2>

          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

{% include "footer.html" %}